{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <div class="list-head">
            <h2>REC. LIST</h2>
            <a href="{% url 'new-album' %}">
            <div class="new-rec">New Rec. +</div>
            </a>
        </div>
    <hr>
    <div class ="album-list">
        <a href="#">
        <div class="album">
            <span class="save-album">Add</span>
            <img class="album-cover" src="{{ album_info.cover.url }}">
            <div class="album-info">
                <div class="album-title">{{ album_info.name }}</div>
                <div class="artist">{{ album_info.artist }}</div>
                <div class="album-year">{{ album_info.release }}</div>
            </div>
        </div>
        </a>
        <hr>
    
    </div>
</body>

{% endblock %}