{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <div class="list-head">
            <h2>REC. LIST</h2>
            <a href="#">
            <div class="new-rec">New Rec. +</div>
            </a>
        </div>
    <hr>
    <div id="light-box">
        <span id="close">X</span>
        <form action="/albums/search/" method="GET" id="site-search" class="inner">
            <input type="text" name="site-search" placeholder="Search 8-Track" class="light-search">
            <button id="inner-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
    <ol class ="album-list">
        {% for album in albums %}
        <li>
        <div class="delete-button">
            <a href="{% url 'delete-album' pk=album.pk %}" 
                    onclick="return confirm('Are you sure you want to delete this album from your rec. list?')">
                <i class="fas fa-times-circle"></i>
            </a>
        </div>
        <div class="album">
            <img class="album-cover" src="{{ album.album_cover }}">
            <div class="album-info">
                <a href="{% url 'album-detail' album.pk %}" class="album-title">{{ album.name }}</a>
                <!-- <div class='album-title'>{{ album.name}} </div> -->
                <a href="{% url 'artist-detail' album.pk %} " class="artist">{{ album.artist }}</a>
                <div class="album-year">{{ album.release_date }}</div>
            </div>
        </div>
        <hr>
        </li>
        {% endfor %}
    
    </ol>
</body>

{% endblock %}