{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <div class="list-head">
            <h2>REC. LIST</h2>
            <div class="new-rec">New Rec. +</div>
            <div class="site-search">
                <input type="text" placeholder="Add a new album">
                {{ form.name }}
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
    <hr>
    <div class ="album-list">
        <a href="album.html">
        <div class="album">
            <!-- <div class="priority">1</div> -->
            <img class="album-cover" src="sigiriya.jpg">
            <div class="album-info">
                <div class="album-title">Maiden Mother Crone</div>
                <div class="artist">Sigiriya</div>
                <div class="album-year">2020</div>
            </div>
            <div class="rating">
                Artist Rating:
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        </div>
        </a>
        <hr>
    
    </div>
</body>

{% endblock %}