* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
    background-color: rgb(53, 54, 58);
    font-family: 'Nunito';
    color: rgb(93, 95, 100);
    
}

a {
    text-emphasis: none;
    text-decoration: none;
    color: rgb(93, 95, 150);
    
}

.header {
    background: linear-gradient(black, black, rgb(26, 26, 26));
    height: max-content;
    contain: content;
    
}

h1 {
    color: white;
    background-color: black;
    font-size: 100px;
    font-family: 'Righteous';
    
}

h2 {
    font-size: 50px;
    font-family: 'Righteous';
    margin-bottom: 20px;
   
}

h3 {
    font-size: 30px;
    font-family: 'Righteous';
    
}

hr {
    border-color: gray;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    clear: both;
    display: grid
}

h1::before {
    content: '8-TRACK';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
    display: grid
}

.neon-wrapper {
    display: inline-flex;
    filter: brightness(200%);
    overflow: hidden;
    margin: 1rem;
    margin-bottom: 0px;
    display: grid
}

.gradient {
    background: linear-gradient(113.83124106282105deg, rgba(244, 72, 105,1) 4.927083333333334%,rgba(159, 1, 234,1) 97.84374999999999%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    display: grid
}

.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 10s linear infinite;
    display: grid
}

@keyframes dodge-area {
  to {
    transform: translate(50%, 50%);
  }
}

.sub-head {
    margin-left: 25px;
    font-family: 'Righteous';
    font-size: 20px;
    text-shadow: 0px 0px 5px rgba(244, 72, 105,1);
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: white;
    display: grid
}

.user-profile {
  display: inline-block;
  margin-top: 5px;
  margin: 15px;
}

.header-button {
  color: rgb(173, 173, 173);
  text-emphasis: none;
  text-decoration: none;
}

.header-button:hover {
  font-weight: bolder;
}

.avatar {
  max-width: 50px;
  border-radius: 50%;
  border: 1px solid rgb(158, 158, 158);
}

.links {
  display: flex;
}

.lists {
  margin-left: 5px;
}

.log {
  margin-left: 5px;
}

.login-logout {
  margin: 2px;
}

.login-out-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 5px;
  right: 5px;
}

.site-search {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 5px;
  right: 0;
  margin-right: 5px;
}

.site-search input {
  width: 200px;
  border-radius: 10px;
  padding: 2px;
}

.site-search button {
  width: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 65%;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 10px;
  contain: content;
}

.list-head {
  display: flex;
  contain: content;
}

.new-rec {
  font-family: "Righteous";
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  background-color: rgb(244, 72, 105);
  border-radius: 20px;
  padding: 10px;
  text-shadow: 0px 0px 5px rgb(159, 1, 234);
}

.album-list {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 5px;
  margin-top: 10px;
}

.album {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  contain: content;
  cursor: pointer;
}

.delete-button i {
    position: absolute;
    right: 20%;
    color: rgb(236,	63,	121);
}

.priority {
  font-family: "Righteous";
  font-size: 30px;
  margin-right: 10px;
}

.album-cover {
  max-width: 100px;
  border: 1px solid gray;
}

.album-info {
  display: flex;
  flex-direction: column;
}

.album-title {
  display: flex;
  align-items: center;
  margin: 5px;
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
}

.artist {
  display: block;
  margin: 7px;
  margin-top: 2px;
  font-size: 18px;
}

.album-year {
    margin-left: 7px;
    font-style: italic;
}

@media screen and (max-width: 700px){   
    
    * {
        font-size: 15px;
        
    }
    
    a {
        font-size: 13px;
        
        
    }
    h1 {
        font-size: 90px;
        
    }
    
    h2 {
        font-size: 40px;
        
    }
    
    h3 {
        font-size: 30px;
        
        
    }
    .sub-head {
        font-size: 10px;
        
    }
    
    .user-profile {
        font-size: 10px;
        
    }
    
    .header-button {
        font-size: 15px;
        
    }
    .site-search input {
        width: 185px;
        border-radius: 10px;
        padding: 2px;
    }
    .site-search button {
        width: 30px;
        
    }
    .new-rec {
        font-size: 15px;
        
     }
     .album-list {
        width: 90%;
        
    }
    .album {
        width: 200%;
      
    }
  
 
    

   


    



}
